// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$dBackground: #202225;
$dbackgroundApplication: #36393F;
$dBackgroundProperties: #2F3136;
$dBackgroundMenuActionMouse: #18191C;
$dBackgroundGroupNameHover: #34373C;
$dBackgroundPopupMe: #292B2F;
$dBackgroundTextarea: #40444b;

$dPurple: #7289DA;
$dPurpleHover: #6881D7;
$dDanger: #F04747;
$dSuccess: #43B581;
$dWarning: #FAA61A;
$dHeader: #b9bbbe;