body {
    background-color: $dBackground !important;
    font-family: 'Oxanium', cursive;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.column-groups {
    width: 72px;
    height: 100vh;
    position: relative;
    float: left;
    padding: 7px 0;
    overflow: hidden scroll;
}

::-webkit-scrollbar { display: none; width: 3px; }

.flex-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.rounded-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $dbackgroundApplication;
    margin-bottom: 7.5px;
    transition: all .2s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 60px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 9px;
        height: 0;
        top: 24px;
        left: -17px;
        background-color: none;
        border-radius: 10px;
        transition: all .2s;
    }

    &.active {
        &::before {
            top: 4px;
            height: 40.5px;
            background-color: #eee;
        }
    }

    svg { color: white; }

    &:last-of-type { margin-bottom: 0; }
    &:hover { border-radius: 35%; cursor: pointer; }

    &.icon-me:hover,
    &.active {
        background-color: $dPurple;
        border-radius: 35%;
    }

    &.intuitive {
        svg { color: $dSuccess; }
        &:hover,
        &.active {
            background-color: $dSuccess;
    
            svg { color: white; }
        }
    }
}

.column-groups .navigation-me,
.column-groups .navigation-groups {
    width: 100%;
    min-height: 55px;
    height: auto;
    float: left;
    position: relative;
    padding: 5px 0;
}

.column-groups .navigation-groups {
    margin-top: 7.5px;
}

.column-groups .navigation-me::before {
    content: '';
    position: absolute;
    width: 32.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, .05);
    height: 2px;
    border-radius: 5px;
    bottom: -5px;
}

.menuMouseAction {
    min-width: 210px;
    min-height: 50px;
    background-color: $dBackgroundMenuActionMouse;
    position: absolute;
    padding: 7px;
    z-index: 1020;
    border-radius: 5px;

    &.menu-custom {
        background-color: $dbackgroundApplication;
        box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 30%);
        padding: 15px;

        span.selectFriends {
            font-size: 15px;
            width: 100%;
            float: left;
            font-weight: 600;
            color: white;
        }

        p.descriptionParagraph {
            font-size: 11px;
            font-weight: 500;
            width: 100%;
            float: left;
            color: rgba(255, 255, 255, .5);
        }

        .interactive-input {
            width: 100%;
            min-height: 35px;
            float: left;
            background-color: $dBackground;
            border-radius: 4px;
            display: flex;
            color: white;
            flex-wrap: wrap;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex: 1 1 auto;
            flex-direction: row;
            position: relative;

            input {
                height: 35px;
                background-color: transparent;
                border: none;
                flex: auto;
                color: rgba(255, 255, 255, .5);
                padding: 0 8px;

                &::placeholder,
                &::-webkit-input-placeholder,
                &::-moz-placeholder {
                    color: rgba(255, 255, 255, .5);
                }
            }

            .selected-user {
                text-align: center;
                background-color: $dbackgroundApplication;
                padding: 5px 8px;
                height: 29px;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.6);
                font-size: 13px;
                margin-top: 3px;
                border-radius: 2px;
                margin-left: 3px;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }

                i.fa-times {
                    font-size: 12px;
                }
            }
        }

        .scroll-friends {
            width: 100%;
            height: 190px;
            position: relative;
            overflow: hidden scroll;
            margin-top: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, .05);
            float: left;

            &::-webkit-scrollbar-thumb { background-color: $dBackground; border-radius: 15px; }

            &:hover {
                &::-webkit-scrollbar { display: block; }
            }

            .userlist {
                width: 402px;
                height: 40px;
                border-radius: 5px;
                padding: 4px 8px;
                margin-bottom: 1px;

                &:hover {
                    background-color: rgba(255, 255, 255, .04);
                    cursor: pointer;

                    span.name em { font-weight: 500; color: rgba(255, 255, 255, .4); }
                }

                .avatar {
                    width: 32px;
                    height: 32px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: relative;
                    border-radius: 50%;
                    float: left;
                }

                span.name {
                    width: calc(100% - 60px);
                    height: 37px;
                    float: left;
                    display: flex;
                    justify-content: flex-start;
                    padding-left: 10px;
                    align-items: center;
                    color: rgba(255, 255, 255, .8);
                    font-size: 13px;
                    font-weight: 600;

                    em {
                        margin-left: 5px;
                        color: rgba(255, 255, 255, .3);
                        font-weight: 400;
                    }
                }

                .checkbox {
                    width: 22px;
                    height: 22px;
                    border-radius: 3px;
                    border: 1px solid rgba(255, 255, 255, .3);
                    float: right;
                    margin-top: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg { visibility: hidden; }
                }

                &.selected {
                    .checkbox {
                        border-color: rgba(255, 255, 255, .1);

                        svg { visibility: visible; }
                    }
                }
            }
        }

        button.createPrivateGroup {
            width: calc(100% - 10px);
            margin-left: 5px;
            height: 38px;
            background-color: $dPurple;
            color: white;
            font-size: 12px;
            font-weight: 600;
            border: none;
            border-radius: 3px;
            margin-top: 25px;

            &:hover { background-color: $dPurpleButtonHover; }
        }
    }

    li.menuOption {
        width: 100%;
        min-height: 31px;
        list-style: none;
        color: rgba(255, 255, 255, .6);
        margin-bottom: 1px;
        padding: 7px 10px;
        font-size: 13px;
        font-weight: 500;
        border-radius: 2px;
        position: relative;

        i {
            float: right;
            font-size: 10px;
            margin: 0 10px;
            margin-top: 2.5px;
        }

        &.disabled {
            color: rgba(255, 255, 255, 0.2);
        }

        &:not(.disabled):hover {
            background-color: $dPurpleHover;
            font-weight: 600;
            color: #fff;
            cursor: pointer;

            .image {
                .status {
                    background-color: $dPurpleHover;

                    &::after {
                        background-color: $dPurpleHover;
                    }

                    &::before {
                        background-color: white;
                    }
                }
            }
        }
    
        .image {
            width: 15px;
            height: 20px;
            position: relative;
            float: left;
            margin-right: 8px;

            .status {
                right: 2px;
                bottom: 5px;
                background-color: $dBackgroundMenuActionMouse;

                &::after {
                    background-color: $dBackgroundMenuActionMouse;
                }
            }
        }

        &.menuLink { color: $dPurpleHover; }
        &.menuDanger {
            color: $dDanger;
            
            &:hover { background-color: $dDanger; }
        }

        &:last-of-type .image {
            background-image: url('/images/customStatus.svg');
            background-size: 15px 15px;
            background-repeat: no-repeat;
            background-position: -1px 0;
        }

        p {
            font-size: 10px;
            color: rgba(255, 255, 255, .4);
            margin-bottom: 0;
        }
    }

    .separator {
        width: 95%;
        height: 1px;
        background-color: rgba(255, 255, 255, .05);
        margin: 5px 0;
        margin-left: 2.5%;
        position: relative;
    }
}

.column-properties {
    width: 240px;
    height: 100vh;
    background-color: $dBackgroundProperties;
    float: left;
    position: relative;
}

.column-properties .top-handle {
    width: 100%;
    height: 48px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    position: relative;
}

.column-properties .top-handle .search-friends {
    width: 92%;
    height: 28px;
    background-color: $dBackground;
    margin-top: 10px;
    border-radius: 3px;
    position: relative;
    color: rgba(255, 255, 255, .3);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .3px;
    padding-top: 5px;

    &:hover {
        cursor: pointer;
    }
}

.column-properties .top-handle .group-name {
    flex-direction: row;
    width: 240px;
    height: 48px;
    position: relative;

    &:hover {
        background-color: $dBackgroundGroupNameHover;
        cursor: pointer;
    }
}

.column-properties .top-handle .group-name span {
    font-weight: 600;
    color: white;
    font-size: 15px;
    padding: 13px 5px 0 15px;
    width: calc(100% - 50px);
    height: 48px;
    float: left;
}

.column-properties .top-handle .group-name .icon {
    width: 50px;
    height: 48px;

    i {
        color:rgba(255, 255, 255, .6)
    }
}

.status {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $dbackgroundApplication;
    right: -2px;
    bottom: -2px;

    &.online,
    &.absent,
    &.offline,
    &.busy {

        &::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: $dSuccess;
            border-radius: 50%;
            right: 2px;
            bottom: 2px;
            z-index: 2;
        }

    &.absent {
            &::after {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $dbackgroundApplication;
                right: 5px;
                bottom: 5px;
                z-index: 5;
            }

            &::before {
                background-color: $dWarning;
            }
        }

    &.busy {
            &::after {
                content: '';
                position: absolute;
                width: 7.5px;
                height: 3px;
                border-radius: 50%;
                background-color: $dBackgroundProperties;
                right: 3px;
                bottom: 5.5px;
                z-index: 5;
            }

            &::before {
                background-color: $dDanger;
            }
        }

    }

    &.offline {

        &::before {
            background-color: rgb(116, 127, 141);
        }

        &::after {
            content: '';
            position: absolute;
            width: 5.5px;
            height: 5.5px;
            border-radius: 50%;
            background-color: $dbackgroundApplication;
            right: 4px;
            bottom: 4.5px;
            z-index: 5;
        }
    }
}

.column-properties .properties-navigation-me {
    width: 100%;
    height: calc(100vh - 48px);
    position: relative;
    padding: 10px 10px 50px 10px;
    overflow: hidden scroll;

    .button {
        width: 100%;
        height: 40px;
        position: relative;
        border-radius: 5px;
        padding: 2.5px 5px;
        margin-bottom: 3px;

        &:hover,
        &.active {
            background-color: rgba(255, 255, 255, .03);
            cursor: pointer;

            .icon svg,
            .infos span {
                color: white;
            }
        }

        &:hover {
            i.fa-times {
                visibility: visible;
            }
        }

        .icon {
            width: 32.5px;
            height: 32.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            float: left;
            margin-right: 12px;
            margin-top: 1px;

            &.user {
                position: relative;
            }

            svg {
                color: rgba(255, 255, 255, .4);
            }
        }

        .infos {
            width: calc(100% - 47px);
            height: 35px;
            float: right;

            span {
                width: 100%;
                display: flex;
                font-size: 14px;
                font-weight: 400;
                justify-content: flex-start;
                align-items: center;
                color: rgba(255, 255, 255, .4);

                &:first-of-type {
                    font-size: 15px;
                }

                &:nth-child(even) {
                    font-size: 10px;
                    margin-top: -2px;
                }
            }
        }

        i.fa-times {
            position: absolute;
            bottom: 6px;
            right: 8px;
            color: rgba(255, 255, 255, .4);
            padding: 5px;
            background-color: #34373C;
            visibility: hidden;
            font-size: 17px;

            &:hover {
                color: white;
                cursor: pointer;
            }
        }
    }

    .separator-property {
        width: 100%;
        height: 25px;
        margin-top: 15px;
        margin-bottom: 5px;
        padding: 3px 10px 0 8px;
        font-size: 11px;
        letter-spacing: .5px;
        font-weight: 600;
        color: rgba(255, 255, 255, .4);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            color: white;
        }
        .icon {
            cursor: pointer;

            i {
                color: rgba(255, 255, 255, .7);
            }
        }
    }

    .popup-me {
        width: 240px;
        height: 50px;
        background-color: $dBackgroundPopupMe;
        position: fixed;
        bottom: 0;
        left: 72px;
        z-index: 10;
        color: white;
        padding: 10px 0 10px 10px;
        cursor: pointer;

        .avatar {
            width: 32.5px;
            height: 32.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            float: left;
            margin-right: 7.5px;
            position: relative;

            &:hover {
                opacity: .8;
            }
        }

        .info {
            width: 90px;
            height: 30px;
            float: left;
            position: relative;
            margin-top: 1px;

            span {
                width: 100%;
                float: left;
                height: 30px;
                line-height: 15px;
                font-size: 11px;
                color: rgba(255, 255, 255, .6);

                b {
                    font-size: 13px;
                    font-weight: 600;
                    color: white;
                }
            }
        }

        .buttons {
            width: calc(100% - 130px);
            height: 30px;
            float: right;
            margin-top: -2px;

            button {
                width: 31px;
                height: 32px;
                background: none;
                border: none;
                border-radius: 3px;
                float: left;

                svg {
                    color: rgba(255, 255, 255, .6);
                }

                &:hover {
                    background-color: rgba(255, 255, 255, .1);
                }
            }
        }
    }
}

.body-application {
    width: calc(100vw - 312px);
    height: 100vh;
    position: relative;
    background-color: $dbackgroundApplication;
    float: right;

    .topbar {
        width: 100%;
        height: 48px;
        background-color: $dbackgroundApplication;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        position: relative;

        .column-info {
            width: auto;
            height: 48px;
            position: relative;
            float: left;
            padding: 12px 0 0 16px;

            span.icon-svg {
                margin-right: 8px;
                float: left;

                svg {
                    color: rgba(255, 255, 255, .3)
                }
            }

            .name {
                font-size: 15px;
                color: white;
                font-weight: 600;
                margin-top: 1px;
                position: relative;
                float: left;

                .status {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $dbackgroundApplication;
                    right: -18px;
                    bottom: 6px;
                }
            }
            
            .menu {
                width: auto;
                padding: 2px 5px 0 5px;
                height: 24px;
                float: left;
                position: relative;
                margin-left: 15px;
                border-left: 1px solid rgba(255, 255, 255, 0.05);

                li {
                    list-style: none;
                    padding: 0 7px;
                    color: rgba(255, 255, 255, .7);
                    font-weight: 500;
                    float: left;
                    margin-left: 16px;
                    border-radius: 3px;

                    &:hover,
                    &.active {
                        background-color: rgba(255, 255, 255, .05);
                        color: white;
                    }

                    &:not(.active):hover { cursor: pointer; background-color: rgba(255, 255, 255, .03); }
                }

                .add-friend {
                    float: right;
                    margin: 0 8px;
                    height: 24px;
                    font-weight: 500;
                    padding: 2px 8px;
                    background-color: $dSuccess;
                    color: white;
                    font-size: 15px;
                    border-radius: 3px;
                    margin-top: -2px;
                    cursor: pointer;
                }
            }

        }

        .column-buttons {
            width: auto;
            height: 48px;
            position: relative;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;

            &.justify-content-end {

                .button:first-of-type {
                    padding: 0 16px;
                    border-right: 1px solid rgba(255, 255, 255, .05);
                }

            }

            .button {
                height: 24px;
                width: auto;
                flex: 0 0 auto;
                margin: 0 8px;
                position: relative;
                
                svg {
                    color: rgba(255, 255, 255, .6);
                    cursor: pointer;

                    &:hover {
                        color: rgba(255, 255, 255, .8);
                    }
                }
            }

            .search {
                background-color: $dBackground;
                width: 144px;
                height: 24px;
                margin: 0 8px;
                border-radius: 4px;
                position: relative;

                input {
                    width: 100%;
                    height: 24px;
                    background-color: transparent;
                    border: transparent;
                    padding: 2.5px 15px 0 5px;
                    color: white;
                    font-size: 12px;
                    font-weight: 600;

                    &:-ms-input-placeholder,
                    &::-webkit-input-placeholder,
                    &::placeholder {
                        color: rgba(255, 255, 255, .4);
                    }
                }

                i {
                    position: absolute;
                    right: 5px;
                    bottom: 0;

                    svg {
                        color: rgba(255, 255, 255, .4);
                    }
                }

            }
        }
    }

    .body-conversation {
        width: 100%;
        height: calc(100% - 48px);
        position: relative;

        .conversation {
            width: 100%;
            height: calc(100% - 75px);
            position: relative;
            padding: 15px;
            overflow: hidden scroll;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;

            .widget-user-message {
                width: 100%;
                height: 210px;
                position: relative;
                border-bottom: 1px solid rgba(255, 255, 255, .05);

                .avatar {
                    width: 80px;
                    height: 80px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 50%;
                }

                .name {
                    font-size: 30px;
                    margin: 8px 0;
                    line-height: 40px;
                    font-weight: 700;
                    color: white;
                }

                span.introduction {
                    line-height: 20px;
                    font-size: 14px;
                    color: $dHeader;
                    margin-top: -5px;
                }
            }
        }

        .incoming-message {
            width: 100%;
            height: 75px;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 7px 3px;
            background-color: $dbackgroundApplication;

            .input-area {
                width: calc(100% - 26px);
                margin-left: 12.5px;
                height: 44px;
                border-radius: 7px;
                background-color: $dBackgroundTextarea;

                .button {
                    width: 40px;
                    height: 44px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    float: left;

                    svg { color: rgba(255, 255, 255, .6); }
                    &.first { width: 56px; }

                    &:hover {
                        cursor: pointer;

                        svg {
                            color: rgba(255, 255, 255, .8);
                        }
                    }
                }

                input.input {
                    width: calc(100% - calc(160px + 56px));
                    height: 44px;
                    float: left;
                    background-color: transparent;
                    border: none;
                    color: rgba(255, 255, 255, .8);
                }

                .buttons {
                    width: 160px;
                    height: 44px;
                    position: relative;
                    float: right;

                    .button {

                        .emojis {
                            background-image: url('/images/emojis.png');
                            background-position: 50%;
                            background-repeat: no-repeat;
                            width: 22px;
                            height: 22px;
                            display: block;
                            filter: grayscale(100%);
                            transform: scale(1);
                            transition: all .2s;
                            background-size: 242px 110px;
                            background-position: -88px -44px;

                            &:hover {
                                filter: grayscale(0);
                            }

                        }
                    }
                }
            }
        }

        .mid-box {
            width: calc(75% - 20px);
            height: calc(100vh - 48px);
            float: left;
            position: relative;
            padding: 16px 30px;
            overflow: hidden scroll;
            
            .friend-title {
                height: 25px;
                width: 100%;
                border-bottom: 1px solid rgba(255, 255, 255, .05);
                color: rgba(255, 255, 255, .6);
                font-weight: 600;
                font-size: 11px
            }

            .user-list {
                width: 100%;
                height: 62px;
                position: relative;
                border-radius: 10px;
                padding: 12.5px 2.5px;

                &:not(:hover):before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    height: 1px;
                    background-color: rgba(255, 255, 255, .03);
                }
                
                &:hover {
                    width: calc(100% + 19px);
                    padding: 12.5px 12.5px;
                    margin-left: -10px;
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, .03);

                    .infos span:first-of-type em {
                        display: block;
                    }

                    .buttons {
                        button {
                            background-color: $dBackground;
                        }
                    }
                }

                .avatar {
                    width: 32px;
                    height: 32px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 50%;
                    position: relative;
                    float: left;
                }

                .infos {
                    width: calc(100% - 145px);
                    height: 35px;
                    float: left;
                    margin-left: 10px;
        
                    span {
                        width: 100%;
                        display: flex;
                        font-size: 14px;
                        font-weight: 500;
                        justify-content: flex-start;
                        align-items: center;
                        color: white;
        
                        &:first-of-type {
                            font-size: 15px;

                            em {
                                display: none;
                                color: rgba(255, 255, 255, .5);
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }
        
                        &:nth-child(even) {
                            font-size: 12px;
                            margin-top: -2px;
                            color: rgba(255, 255, 255, .5);
                        }
                    }
                }

                .buttons {
                    width: 82px;
                    height: 35px;
                    float: right;
                    position: relative;
                    display: flex;

                    .button {
                        width: 36px;
                        height: 36px;
                        background-color: $dBackgroundProperties;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        border: none;

                        svg {
                            color: rgba(255, 255, 255, 0.6);
                            width: 20px;
                            height: 20px;
                        }

                        &:hover {
                            svg {
                                color: rgba(255, 255, 255, 0.8);
                            }
                        }

                        &:last-of-type { margin-right: 0; }
                    }
                }
            }
        }
    }
}

.strikethrough-1n4ekb { color: $dDanger }
.attachButtonPlay-3iJ0mf { color: $dSuccess; }

.flip-list-move { transition: transform .3s; }

.modalContent {
    width: calc(100vw + 2px);
    height: calc(100vh + 2px);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1000;

    &.userSettings {
        background-color: $dbackgroundApplication;

        .menu-column {
            width: calc(35% - 5px);
            background-color: $dBackgroundProperties;
            height: 100vh;
            float: left;
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @media only screen and (max-width: 1300px) { width: calc(24% - 5px); }

            .menu {
                width: 220px;
                height: 100vh;
                overflow: hidden scroll;
                position: relative;
                padding: 50px 6px 60px 20px;

                &::-webkit-scrollbar-thumb { background-color: $dBackground; border-radius: 15px; }
                &:hover { &::-webkit-scrollbar { display: block; } }

                nav {
                    display: flex;
                    flex: 1;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    flex-direction: column;

                    li {
                        list-style: none;
                        width: 100%;
                        color: rgba(255, 255, 255, 0.7);
                        height: 32px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding-left: 8px;
                        border-radius: 3px;
                        cursor: default;
                        margin-bottom: 2px;
                        font-weight: 500;

                        &.menuDanger { color: $dDanger }
                        &.menuLink { color: $dPurple }

                        &.title {
                            text-transform: uppercase;
                            font-size: 11px;
                            font-weight: 700;
                            color: rgba(255, 255, 255, .5);
                        }

                        &:not(.menuLink):not(.menuDanger):not(.title):hover,
                        &:not(.menuLink):not(.menuDanger):not(.title).active {
                            color: white;
                            background-color: rgba(255, 255, 255, .05);
                        }

                        &.menuDanger:hover {
                            background-color: rgba(240, 71, 71, 0.1);
                        }

                        &.menuDanger.active {
                            background-color: $dDanger;
                            color: white;
                        }

                        &.menuLink:hover {
                            background-color: rgba(114, 137, 218, 0.1);
                        }

                        &.menuLink.active {
                            background-color: $dPurple;
                            color: white;
                        }

                        &:not(.title) {
                            cursor: pointer;
                        }
                    }

                    .separator {
                        width: 95%;
                        height: 1px;
                        background-color: rgba(255, 255, 255, .07);
                        margin: 7px 0;
                        margin-left: 2.5%;
                        position: relative;
                    }

                    .socials {
                        width: 100%;
                        padding: 0 7px;

                        a {
                            color: rgba(255, 255, 255, 0.7);
                            text-decoration: none;
                            margin-right: 9px;

                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        .menu-layout {
            width: calc(100% - calc(35% - 5px));
            height: 100vh;
            float: left;
            position: relative;
            overflow: hidden scroll;

            &::-webkit-scrollbar-thumb { background-color: $dBackground; border-radius: 15px; }
            &:hover { &::-webkit-scrollbar { display: block; } }

            .modalBody {
                width: calc(50vw + 110px);
                max-width: 742px;
                height: 100vh;
                float: left;
                position: relative;
                padding: 60px 40px 80px;

                span.title {
                    width: 100%;
                    font-weight: 800;
                    color: white;
                    font-size: 15px;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    margin-bottom: 20px;
                    float: left;
                    position: relative;
                }

                .box-settings {
                    width: 100%;
                    height: 328px;
                    border-radius: 10px;
                    background-color: $dBackgroundProperties;
                    float: left;
                    padding: 16px;
                    margin-bottom: 20px;

                    .initial-settings {
                        width: 100%;
                        height: 82px;
                        position: relative;

                        label.avatar {
                            width: 80px;
                            height: 80px;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 50%;
                            float: left;
                            position: relative;
                            cursor: pointer;

                            &::before {
                                content: "MUDAR \A AVATAR";
                                white-space: pre-wrap;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                color: white;
                                top: 0;
                                left: 0;
                                display: none;
                                background-color: rgba(0, 0, 0, 0.6);
                                border-radius: 50%;
                                font-size: 10px;
                                font-weight: 600;
                                text-align: center;
                                padding-top: 24px;
                            }

                            &:hover {
                                &::before { display: block }
                            }

                            i {
                                width: 28px;
                                height: 28px;
                                position: absolute;
                                top: -3px;
                                right: -2px;
                                background-color: #dcddde;
                                background-image: url('/images/avatarUpload.svg');
                                background-position: center;
                                background-repeat: no-repeat;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }

                        span.nameUser {
                            margin-left: 10px;
                            padding-left: 10px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            height: 80px;
                            float: left;
                            font-size: 18px;
                            font-weight: 600;
                            color: white;

                            em {
                                font-size: 15px;
                                font-weight: 400;
                                color: rgba(255, 255, 255, 0.6)
                            }
                        }

                        button.more {
                            float: right;
                            margin-top: 24px;
                            margin-right: 9px;
                            border: none;
                            background-color: transparent;
                            
                            svg { color: rgba(255, 255, 255, 0.6) }
                        }
                    }

                    .flex-settings {
                        width: 100%;
                        height: 200px;
                        background-color: $dbackgroundApplication;
                        float: left;
                        margin-top: 9px;
                        border-radius: 8px;
                        padding: 16px;

                        .option {
                            width: 100%;
                            position: relative;
                            height: 45px;
                            margin-bottom: 18px;

                            span {
                                &.title-mini {
                                    width: 80%;
                                    font-size: 10px;
                                    color: rgba(255, 255, 255, .4);
                                    float: left;
                                    font-weight: 600;
                                    letter-spacing: 0.7px;
                                    text-transform: uppercase;
                                    margin-bottom: 3px;
                                }

                                &:last-of-type {
                                    width: 80%;
                                    float: left;
                                    color: white;
                                    font-weight: 300;

                                    em {
                                        font-size: 14px;
                                        color: rgba(255, 255, 255, .5)
                                    }
                                }
                            }

                            button {
                                float: right;
                                color: #fff;
                                background-color: #747f8d;
                                margin-top: -14px;
                                border: none;
                                border-radius: 3px;
                                font-size: 12px;
                                font-weight: 600;
                                padding: 9px 17px 4px 17px;

                                &:hover {
                                    opacity: 0.9;
                                }
                            }
                        }
                    }
                }

                .separator {
                    width: 100%;
                    height: 1px;
                    background-color: rgba(255, 255, 255, .07);
                    margin: 20px 0;
                    float: left;
                    position: relative;
                }

                button.purpleButton,
                button.dangerButton,
                button.dangerButtonInline,
                button.purpleButtonInline {
                    padding: 5px 15px;
                    padding-top: 7px;
                    background-color: $dPurple;
                    color: white;
                    font-size: 13px;
                    font-weight: 600;
                    border: none;
                    border-radius: 4px;

                    &:hover {
                        background-color: $dPurpleButtonHover;
                    }
                }

                button.dangerButton {
                    background-color: $dDanger;
                    &:hover {
                        opacity: 0.9;
                        background-color: $dDanger;
                    }
                }

                button.dangerButtonInline {
                    background-color: transparent;
                    font-weight: 500;
                    border: 1px solid $dDanger;
                    color: $dDanger;
                    &:hover {
                        background-color: transparent;
                    }
                }

                button.purpleButtonInline {
                    background-color: transparent;
                    font-weight: 500;
                    border: 1px solid $dPurple;
                    color: $dPurple;
                    &:hover {
                        background-color: transparent;
                    }
                }

                .two-factor {
                    width: 100%;
                    height: 170px;
                    margin-top: 15px;
                    float: left;
                    padding: 15px 0px;

                    span {
                        &.title-mini {
                            width: calc(100% - 150px);
                            font-size: 10px;
                            color: rgba(255, 255, 255, .4);
                            float: left;
                            font-weight: 600;
                            letter-spacing: 0.7px;
                            text-transform: uppercase;
                            margin-bottom: 3px;
                        }

                        &.description {
                            width: calc(100% - 150px);
                            font-size: 13px;
                            margin-top: 10px;
                            color: rgba(255, 255, 255, .6);
                            float: left;
                            font-weight: 400;
                        }
                    }

                    .image-twoFactor {
                        width: 142px;
                        height: 55px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        float: right;
                        background-image: url('/images/twoFactorAuthentication.svg');
                        margin-top: 20px;
                    }
                }

                .note {
                    width: 100%;
                    float: left;
                    height: auto;
                    position: relative;
                    margin-top: 20px;
                    background-color: $dBackgroundModalNote;
                    padding: 18px;
                    border: 1px solid $dBackground;
                    border-radius: 5px;
                    color: rgba(255, 255, 255, .8);
                    font-weight: 500;
                    font-size: 12px;

                    span {
                        &.title {
                            width: 100%;
                            font-size: 10px;
                            color: rgba(255, 255, 255, .4);
                            float: left;
                            font-weight: 600;
                            letter-spacing: 0.7px;
                            text-transform: uppercase;
                            margin-bottom: 3px;
                        }
                    }

                    .connectionAccounts {
                        display: flex;
                        flex-wrap: wrap;
                        max-width: 100%;
                    }
                }

                .connection {
                    width: 52px;
                    height: 52px;
                    border-radius: 5px;
                    background-color: $dBackgroundProperties;
                    background-size: 36px 36px;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    margin-right: 8px;
                    margin-bottom: 8px;
                    cursor: pointer;
                }

                .selector-settings {
                    width: 100%;
                    padding: 8px 15px;
                    background-color: $dBackgroundProperties;
                    border-radius: 5px;
                    margin: 8px 0;
                    position: relative;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        background-color: $dBackgroundPropertiesHover;

                        .selector-info {
                            span.title-selector { color: white; }
                        }
                    }

                    &.active {
                        background-color: $dBackground;

                        span {
                            &.title-selector,
                            &.description-selector { color: white !important; }
                        }

                        .checkbox {
                            &::before {
                                content: '';
                                position: absolute;
                                top: calc(50% - 5px);
                                left: calc(50% - 5px);
                                width: 10px;
                                height: 10px;
                                background-color: $dPurple;
                                border-radius: 50%;
                            }
                        }
                    }

                    .checkbox {
                        width: 20px;
                        height: 20px;
                        border: 2px solid rgba(255, 255, 255, .7);
                        border-radius: 50%;
                        position: relative;
                        margin-right: 10px;
                    }

                    .selector-info {
                        width: calc(100% - 30px);
                        height: auto;
                        position: relative;

                        span {
                            width: 100%;
                            float: left;

                            &.title-selector {
                                font-size: 14px;
                                color: rgba(255, 255, 255, .7);
                                font-weight: 600;
                            }

                            &.description-selector {
                                font-size: 12px;
                                color: rgba(255, 255, 255, .7);
                                font-weight: 300;
                                margin-top: 5px;
                            }
                        }
                    }
                }

                .option-settings {
                    width: 100%;
                    height: auto;
                    margin: 6px 0;
                    position: relative;
                    float: left;
                    cursor: pointer;

                    span {
                        &.title-option {
                            width: calc(100% - 50px);
                            margin-right: 10px;
                            float: left;
                            font-size: 14px;
                            font-weight: 600;
                            color: white;
                        }

                        &.description-option {
                            width: 100%;
                            padding-right: 10px;
                            margin-top: 10px;
                            float: left;
                            font-size: 12px;
                            font-weight: 300;
                            color: rgba(255, 255, 255, .7);
                        }

                        a,
                        .link {
                            color: $dLink;
                            font-weight: 500;
                        }
                    }

                    .option-box {
                        background-color: $dBackgroundOptionDisabled;
                        width: 40px;
                        padding: 3px;
                        height: 24px;
                        border-radius: 15px;
                        position: relative;
                        display: flex;
                        justify-content: flex-start;
                        transition: background-color .5s ease-in;
                        float: right;

                        &::before {
                            content: '\f00d';
                            font-family: $fontAwesome !important;
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            background-color: white;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $dBackgroundOptionDisabled;
                            transition: left .3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color .7s linear;
                            left: 3px;
                        }
                    }

                    &.active {
                        .option-box {
                            background-color: $dBackgroundOptionActive;
                            font-size: 12px;

                            &::before {
                                content: '\f00c';
                                color: $dBackgroundOptionActive;
                                left: 19px;
                            }
                        }
                    }
                }
            }

            .modalClose {
                margin-top: 61px;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                border: 2px solid rgba(255, 255, 255, .3);
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                svg { color: rgba(255, 255, 255, .3); }

                &::before {
                    content: 'ESC';
                    position: absolute;
                    color: rgba(255, 255, 255, .3);
                    bottom: -29px;
                    left: 5px;
                    font-size: 12px;
                    font-weight: 500;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, .1);
                    cursor: pointer;
                }
            }
        }
    }
}

.midModal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
    margin: 0;

    .midModalBody {
        width: auto;
        min-width: 200px;
        min-height: 100px;
        padding: 15px;
        background-color: $dBackgroundProperties;
        position: relative;
        border-radius: 8px;
    }
}

.animated.zoomIn,
.animated.zoomOut { animation-duration: .3s }

.midModal.animated.zoomIn,
.midModal.animated.zoomOut { animation-duration: 1s }