.login-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('/images/loginBackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 1000px) {
        max-height: 100vh !important;
        overflow: hidden scroll;
        align-items: start;

        &::-webkit-scrollbar-thumb { background-color: $dBackground; border-radius: 15px; }

        &:hover {
            &::-webkit-scrollbar { display: block; }
        }
    }

    .box-wrapper {
        padding: 20px;
        position: relative;
        background: $dBackgroundApplication;
        border-radius: 5px;
        box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
        color: #72767d;

        form.login {
            width: 430px;
            height: auto;
            position: relative;
            float: left;
            padding: 0 10px;

            span {
                width: 100%;
                float: left;
                text-align: center;

                &.title {
                    font-size: 22px;
                    color: white;
                    font-weight: 600;
                    margin-bottom: 3px;
                }

                &.description {
                    font-weight: 400;
                    color: rgba(255, 255, 255, .5);
                }

                &.link {
                    color: $dPurple;
                    font-weight: 500;
                    font-size: 12px;
                    text-align: left;

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            .form-group {
                margin: 10px 0;
                float: left;
                width: 100%;

                label {
                    font-size: 11px;
                    font-weight: 600;
                    color: rgba(255, 255, 255, .4);
                    text-transform: uppercase;
                }

                input,
                .selector {
                    border-radius: 3px;
                    background-color: $dBackgroundInput;
                    height: 42px;
                    padding: 10px;
                    box-sizing: border-box;
                    color: $dColorInput;
                    border: 1px solid $dBorderInput;
                    transition: border-color .3s ease-in-out;

                    &:focus {
                        box-shadow: none;
                        border-color: $dPurple !important;
                    }

                    &:hover { border-color: rgba(0, 0, 0, 0.7) }
                }

                .selector {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    position: relative;

                    span {
                        font-size: 14px;
                        color: rgba(255, 255, 255, 0.7);
                    }

                    i {
                        color: rgba(255, 255, 255, 0.7);
                        margin-left: 5px;
                        font-size: 12px;
                    }

                    &:hover { cursor: pointer; }
                    
                    .menu {
                        background-color: $dBackgroundSelectorMenu;
                        border: 1px solid $dBorderInput;
                        border-radius: 3px;
                        position: absolute;
                        bottom: 40px;
                        right: 0;
                        max-width: 100%;
                        max-height: 200px;
                        overflow: hidden scroll;

                        li {
                            width: 100%;
                            float: left;
                            list-style: none;
                            color: rgba(255, 255, 255, 0.7);
                            font-size: 14px;
                            font-weight: 500;
                            padding: 10px;

                            &:hover {
                                background-color: rgba(0, 0, 0, 0.09)
                            }

                            &.active {
                                background-color: rgba(0, 0, 0, 0.2)
                            }
                        }

                        &::-webkit-scrollbar-thumb { background-color: $dBackground; border-radius: 15px; }

                        &:hover {
                            &::-webkit-scrollbar { display: block; }
                        }
                    }
                }
            }

            button {
                width: 100%;
                border-radius: 3px;
                font-weight: 600;
                font-size: 14px;
                color: white;
                background-color: $dPurple;
                border: none;
                height: 44px;

                &[disabled] { opacity: .5; }
            }

            p.text-muted { font-size: 12px; }
        }

        &.animated.zoomIn,
        &.animated.zoomOut { animation-duration: .6s }
    }
}